
*{

    margin: 0  auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;  
    box-sizing: border-box;
    text-decoration: none; 
}

header{
    background: white;
    padding: 10px;
    margin-top: 0 ;
}

.logo{
    background: rgb(245, 239, 239);
    /* padding: 10px  0px; */
    text-align: center;
    margin-bottom: 20px;

}
header nav  {
    /* background:rgb(5, 5, 5); */
   
    padding: 10px  10px;

 
  
}

nav  ol 
{
    display: flex;
    list-style-type: none;
    background-color:white;
    padding: 20px;
    margin: auto;
    justify-content: space-around;  

}
a{
    color: black;
    font-size: 20px;
}
.image-holder {
    position: relative;

    width: 100%; 
}
#img{
    padding: 30px;
    border-radius: 4rem;
}
    #emma {
    position: absolute;
    top: 50%;
    left: 25%;
    color:white;
    font-size: 3em;
  padding: 20px;

    }

 footer{
        /* display: flex; */
        height: 10rem;
        background-color:#072146;
        padding: 20px;
    
    }
    .continer{
        
        display: flex;
        
    }
nav ul{
    background-color:none;
    list-style-type: none;

} 
    
nav ul li{
    color: antiquewhite;
}
    h1{
        font-size: 20px;
        color: bisque;
        font-style:italic;
    }
    
        
    
    
    
    
    