
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* box-sizing: border-box; */
    text-decoration: none; 
    margin: 0,0,0,0;
 

}

header{
    /* background:rgb(207, 24, 24); */
    /* padding: 10px; */
    display: flex;
    position: sticky;
  
}
#number{

    padding: 10px;
    border-radius: 25px;
    /* border: 2px solid grey; */
    /* display: block; */
   color:white;
   background-color:yellowgreen;


    }


 .nav {
    /* background-color: antiquewhite; */
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 10px;
    margin: 10PX;
    justify-content: right;
    gap: 10rem;
    align-items: center;
    font-size: larger;

}
a{
    color: black;
    font-size: 20px;
}
#img{
    /* margin-top: 30px; */
    margin-bottom: 30px;
    /* border-radius: 4rem; */
}
    .cards{
        display: flex;
        margin-bottom: 4rem;
        /* margin-right: 4rem; */
        margin-top: 2rem;
        /* margin-left: 4rem; */
        /* background-color: grey; */
        flex-wrap: wrap;
        

    }
    .welcome{
        background-color: #fefcf4;
        color: yellowgreen;
    font-size: 3em;
  padding: 20px;

        
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px; 
    }

    .card{

        /* width: 20rem;
        height: 25rem; */
    
        border: 1px solid rgb(163, 161, 161);
        border-radius: 2rem;
        margin: auto;
        box-shadow: 2rex;
        cursor: pointer;
        background-color:whitesmoke ;
        /* display: grid; */
        flex: 1;
        grid-template-columns: repeat(3,1fr);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        width: 30%;
        margin: 10px;
    
    }

    .card img{
        width: 30%;
        background-color:hide;
    }
.card:hover{background-color: #072146;
    color: white;

}
images/Bose-base-Speaker-500.jpg{
    size:20px ;
}



    

 footer{
    
        background-color:#072146;
        padding: 20px;
            margin-top:40px ;}

            .continer{
                display: flex;
                justify-content: space-around;
          
       
              
            }
    
    h1{
        font-size: 20px;
        color: yellowgreen;
        font-style:italic; 
    }
    li{
        color: white;
        list-style-type: none;
        padding: 10px;
    }
    hr {
        width: 80%; 
    }
    #cr{
        color:  white;
        text-align: center;
    }
      .social {
        color: white;
      }  
/* contact us page styles starts here     */
.call{
    height: 80%;
    background-color: #072146;
    /* border:2px solid #072146; */
    display: flex;
    justify-content: center; 
    align-items: center;

  
    
}


.call p{
    color: white;
font-size: 40px;

   
}
.contacts{
/* padding: 20px; */
    display: flex;
  
   
    /* margin-top: 20px; */
}
.contactl{
    /* width: 100%; */

}

.form-container {
    width: 100%;
    /* max-width: 400px; */
    /* margin-left: 20px; */
    padding: 40px;
    background: white;
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    position: relative;
    justify-content: flex-start;
    /* background-color: aqua; */
    
}
textarea{
  
    width: 100%;
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    background: white;
    border: 1px solid #ccc;
    border-radius: 2rem;
}

h2,h3 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 2rem;
}

button {
    width: 25%;
    padding: 10px;
    background-color:yellowgreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: left;
    margin-top:40px ;

}

button:hover {
    background-color: #072146;
}

.about{
    
    background-color: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%)   ;
}    
    
  
    /* services page */

    .cservice{
        display: flex;
        /* border-bottom:1px solid #072146; */
    }

    .actions{
        /* background-color: #fa709a; */
        align-content: center;
    }


#action{
    font-size: 40px;
    
   
    /* background-color: #fee140; */
}

span{
    color:  yellowgreen;
    font-size: 50px;
   
}
#action1{
    font-size: 50px;
    text-align: left;
   
    /* background-color: #fee140; */
}
.ourservices{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.service1{
    flex: 1;
    border: 1px solid green;
    width: 30%;
}