
*{
    padding: 0;
    margin: 0  auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

:root{
    --color: #333;
}


header{
    background:  var(--color);
    padding: 20;
  
}

.logo{
    background: #963333;
    padding: 10px  0px;
    text-align: center;
    margin-bottom: 20px;

}

nav  {
    background: #a39f20;
   
    padding: 10px  0px;

 
  
}

nav  ol 
{
    display: flex;
   
}

nav  ol  li 
{
    list-style-type: none;
}

.image-holder {
    position: relative;
    }

   .image-holder  {

    width: 100%; 
}

    #emma {
    position: absolute;
    top: 70%;
    left: 25%;
    color: rgba(247, 0, 0, 0.671);
    font-size: 3em;
    background: #00000093;
    
    padding: 20px;

    }
